<div
  class="container-fluid d-flex justify-content-between gap-3 align-items-center px-4 bg bg-dark"
>
  <div class="dropdown">
    <a
      class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none bg-dark"
    >
      <h5>Cine Buy Web</h5>
    </a>
  </div>
  <div>
    <ul class="nav nav-pills">
      <li class="nav-item">
        <a class="nav-link active bg-transparent" aria-current="page" href="#"
          >Inicio</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Reservas</a>
      </li>
    </ul>
  </div>

  <div class="d-flex align-items-center justify-content-end">
    <div class="flex-shrink-0 dropdown">
      <a
        href="#"
        class="d-block link-dark text-decoration-none dropdown-toggle"
        data-bs-toggle="dropdown"
        aria-expanded="false"
      >
        <img
          src="https://github.com/mdo.png"
          alt="mdo"
          width="32"
          height="32"
          class="rounded-circle me-lg-2"
        />
        <span class="d-none d-lg-inline-flex text-white opacity-50">{{
          currentUser.fullName
        }}</span>
      </a>
      <ul class="dropdown-menu text-small shadow">
        <li>
          <a class="dropdown-item" (click)="logout()" href="">Cerrar Sesión</a>
        </li>
      </ul>
    </div>
  </div>
</div>
