<div class="h-100 mt-32" id="sidebar">
  <ul class="side-nav">

    <li class="side-nav-item rounded-1" [routerLinkActive]="['active']" routerLink="/layout/dashboard">
      <a class="side-nav-link">
        <i class="bi bi-columns-gap"></i>
        <span> Dashboard </span>
      </a>
    </li>

    <li class="side-nav-title side-nav-item opacity-50">Cine</li>

    <li class="side-nav-item rounded-1" [routerLinkActive]="['active']" routerLink="/layout/movies">
      <a class="side-nav-link">
        <i class="bi bi-film"></i>
        <span> Películas </span>
      </a>
    </li>

    <li class="side-nav-item rounded-1" [routerLinkActive]="['active']">
      <a class="side-nav-link">
        <i class="bi bi-projector"></i>
        <span> Proyecciones </span>
      </a>
    </li>

    <li class="side-nav-item rounded-1" [routerLinkActive]="['active']">
      <a class="side-nav-link">
        <i class="las la-chair"></i>
        <span> Salas </span>
      </a>
    </li>

    <li class="side-nav-item rounded-1" [routerLinkActive]="['active']">
      <a class="side-nav-link">
        <i class="las la-glass-martini"> </i>
        <span> Cine bar </span>
      </a>
    </li>

    <li class="side-nav-title side-nav-item opacity-50">Usuario</li>

    <li class="side-nav-item rounded-1" [routerLinkActive]="['active']" routerLink="/layout/index">
      <a class="side-nav-link">
        <i class="bi bi-film"></i>
        <span> Cartera </span>
      </a>
    </li>
  </ul>
</div>
