#sidebar li{
  cursor: pointer;
}

#sidebar li:hover{
  background: #002b3650;
  color: white;
}

#sidebar li.active{
  background: #002b36;
  color: white;
  pointer-events: none;
}

#sidebar li a{
  color: #2aa198;
  text-decoration: none;
}

.mt-32{
    margin-top: 2rem;
}

