<div class="h-100 mt-32" id="sidebar">
  <ul class="side-nav">

    <li class="side-nav-item rounded-1" [routerLinkActive]="['active']" routerLink="/layout/dashboard">
      <a class="side-nav-link">
        <i class="bi bi-columns-gap"></i>
        <span> Dashboard </span>
      </a>
    </li>

    <li class="side-nav-title side-nav-item opacity-50">Cine</li>

    <li class="side-nav-item rounded-1" [routerLinkActive]="['active']" routerLink="/layout/movies">
      <a class="side-nav-link">
        <i class="bi bi-film"></i>
        <span> Películas </span>
      </a>
    </li>

    <li class="side-nav-item rounded-1" [routerLinkActive]="['active']" routerLink="/layout/showtimes">
      <a class="side-nav-link">
        <i class="bi bi-projector"></i>
        <span> Proyecciones </span>
      </a>
    </li>

    <li class="side-nav-item rounded-1" [routerLinkActive]="['active']" routerLink="/layout/cinemas">
      <a class="side-nav-link">
        <i class="bi bi-grid-3x2-gap"></i>
        <span> Cinemas </span>
      </a>
    </li>

     <li class="side-nav-item rounded-1" [routerLinkActive]="['active']" routerLink="/layout/tickets">
      <a class="side-nav-link">
        <i class="bi bi-ticket-perforated"></i>
        <span> Tickets </span>
      </a>
    </li>

    <li class="side-nav-item rounded-1" [routerLinkActive]="['active']" routerLink="/layout/products">
      <a class="side-nav-link">
        <i class="las la-hotdog"></i>
        <span> Dulcería </span>
      </a>
    </li>
  </ul>
</div>
