.seats {
  width: 700px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container-seats-row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.seats-row {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  gap: 8px;
  margin-bottom: 8px;
  min-height: 40px;
}

.seats-seat {
  height: 40px;
  width: 40px;
  border-radius: 5px;
  background: #a6acc1;
  border: none;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  font-size: 12px;
  font-weight: 600;
  box-shadow: 0 10px 10px 10px #0000002f;
  cursor: pointer;
}

.seats-seat:hover {
  background: #9094a6;
}

.seats-seat:active {
  transform: scale(0.9);
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  -ms-transform: scale(0.9);
  -o-transform: scale(0.9);
}

.screen {
  padding: 3rem;
  margin-top: 96px;
  margin-bottom: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#display {
  width: 600px;
  height: 150px;
  margin-bottom: 15px;
  background: linear-gradient(
    180deg,
    #4c9ae86e -124.5%,
    #4c9ae800 100%
  );
  border-top: 4px solid #4c9ae8cb;
  border-radius: 50% 50% 0 0;
  -webkit-border-radius: 50% 50% 0 0;
  -moz-border-radius: 50% 50% 0 0;
  -ms-border-radius: 50% 50% 0 0;
  -o-border-radius: 50% 50% 0 0;
  position: relative;
  padding: 10px;
}

.display{
  backdrop-filter: blur(10px);
  position: absolute;
  width: 110%;
  height: 110%;
  top: 0;
  left: 0;

}

.input-row {
  left: -40px;
}

.input-row input {
  text-align: center;
  width: 30px !important;
  background: transparent;
  border: 1px solid #a6acc1;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

.hidden {
  visibility: hidden;
}
