<hr class="hr-or" />
<span class="span-or">or</span>
<hr class="hr-or" />
<hr class="hr-or" />
<footer class="nb-footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="about">
          <img
            src="images/logo.png"
            class="img-responsive center-block"
            alt=""
          />
          <p>
            Footer del Sistema de Cine del Instituto Superior Tecnológico
            Yavirac, Ecuador. Desarrollado utilizando Bootstrap, HTML,
            Javascript, CSS, Angular, y Nest, este proyecto brinda una experiencia de
            usuario moderna y atractiva.
          </p>

          <div class="social-media">
            <ul class="list-inline">
              <li>
                <a href="http://www.nextbootstrap.com/" title=""
                  ><i class="fa fa-facebook"></i
                ></a>
              </li>
              <li>
                <a href="http://www.nextbootstrap.com/" title=""
                  ><i class="fa fa-twitter"></i
                ></a>
              </li>
              <li>
                <a href="http://www.nextbootstrap.com/" title=""
                  ><i class="fa fa-google-plus"></i
                ></a>
              </li>
              <li>
                <a href="http://www.nextbootstrap.com/" title=""
                  ><i class="fa fa-linkedin"></i
                ></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <section class="copyright">
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <p>Copyright © 2023 Cine Buy Web. Todos los derechos reservados.
</p>
        </div>
        <div class="col-sm-6"></div>
      </div>
    </div>
  </section>
</footer>
